/*
 * Typography
 */

h1,
.h1,
h1 > strong,
h1 > b {
    color: $text-color;
    font-family: $font-primary;
    font-size: 43px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;

    @media (width <= 1500px) {
        font-size: 40px;
    }

    @media (width <= 1280px) {
        font-size: 36px;
    }
}

h2,
.h2,
h2 > strong,
h2 > b {
    color: $text-color;
    font-family: $font-primary;
    font-size: 33px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;

    @media (width <= 1500px) {
        font-size: 30px;
    }

    @media (width <= 1280px) {
        font-size: 28px;
    }
}

h3,
.h3,
h3 > strong,
h3 > b {
    color: $text-color;
    font-family: $font-primary;
    font-size: 20px;
    line-height: 1.15;
    font-weight: 700;
    text-transform: uppercase;

    @media (width <= 1500px) {
        font-size: 21px;
    }
}

h4,
.h4,
h4 > strong,
h4 > b {
    color: $text-color;
    font-family: $font-primary;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;

    @media (width <= 1500px) {
        font-size: 18px;
    }
}

p,
.paragraph {
    font-size: 17.8px;
    line-height: 1.65;
    font-weight: 500;
    margin: 17px 0 0;
    color: $text-color;

    > a {
        font-weight: 500;
        text-decoration: underline;
        display: inline-block;
        color: $text-color;

        &:hover {
            text-decoration: underline;
            color: $text-color;
        }
    }

    > span:not(.woocommerce-Price-amount),
    em {
        font-weight: 500 !important;
        font-size: 17.8px !important;
        line-height: 1.65 !important;
    }

    > strong {
        font-weight: 700;
    }

    @media (width <= 1280px) {
        font-size: 17px;
    }
}

ul > li,
ol > li {
    font-size: 17.8px;
    line-height: 1.65;
    font-weight: 500;
}
