.spacer {
    width: 100%;

    &--background {
        background: $very-light-gray;
    }

    &--small {
        @media (width <= 1199px) {
            height: 25px !important;
        }
    }

    @media (width <= 1199px) {
        /* important is necessary to prevent inline styles */
        height: 50px !important;
    }
}
