.blank-image {
    width: 100%;
    position: relative;

    &--background {
        background: $very-light-gray;
    }

    img {
        display: block;
        width: 100%;
        min-height: 500px;
        border-radius: 25px;

        @media (width <= 767px) {
            min-height: 200px;
            border-radius: 20px;
        }
    }
}
