.blank-image {
    width: 100%;
    position: relative;

    &--background {
        background: $very-light-gray;
    }

    img {
        display: block;
        width: 100%;
        border-radius: 25px;
        margin: 0 auto;
        max-width: 100%;

        @media (width <= 767px) {
            min-height: 200px;
            border-radius: 20px;
        }
    }
}
