.subpage-hero {
    width: 100%;
    position: relative;

    &--background {
        background: linear-gradient(
            195deg,
            rgb(55 39 114 / 100%) 0%,
            rgb(55 39 114 / 100%) 43%,
            rgb(60 66 143 / 100%) 71%,
            rgb(63 84 162 / 100%) 86%,
            rgb(71 125 206 / 100%) 99%,
            rgb(74 144 226 / 100%) 100%
        );
    }

    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;

        img {
            object-position: center left;
            filter: brightness(0.9);
        }

        &--plain {
            background: linear-gradient(
                195deg,
                rgb(55 39 114 / 100%) 0%,
                rgb(55 39 114 / 100%) 43%,
                rgb(60 66 143 / 100%) 71%,
                rgb(63 84 162 / 100%) 86%,
                rgb(71 125 206 / 100%) 99%,
                rgb(74 144 226 / 100%) 100%
            );
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px 0 90px;
        position: relative;
        z-index: 2;
        text-align: center;
        gap: 20px;

        &--column {
            flex-direction: column;
            padding: 50px 0 90px;

            @media (width <= 767px) {
                padding: 50px 0 80px;
            }
        }

        @media (width <= 767px) {
            padding: 70px 0;
            flex-direction: column;
        }
    }

    &__title {
        color: $white;
        position: relative;
        font-size: 40px;

        &--archive {
            color: $white;
        }

        span {
            display: block;
            margin: 10px auto 0;
            color: $white;

            @extend .h3;
        }
    }

    &__icon {
        width: 64px;
        height: 64px;

        img,
        svg {
            filter: brightness(0) invert(1);
        }

        @media (width <= 767px) {
            flex-shrink: 0;
        }
    }

    p {
        font-size: 22px;
        line-height: 1.5;
        color: $white;
        text-align: center;

        @media (width >= 1200px) {
            max-width: 700px;
            margin: 20px auto 0;
        }
    }
}
